$color-primary: rgba(83, 104, 223);
$color-secondary: #dfdfdf;
$color-active: #da4315;
$color-nav-header: white;
$color-nav-header-mobile: #262b3df5;
$color-nav-footer: rgba(36, 41, 69);


$color-text-light: #808080;
$color-text-dark: #333333;
$color-border-light: rgb(212, 212, 212);   

$font-family-base: 'Nunito', sans-serif;
$font-size-base: 1.16rem;
$line-height-base: 1.6;

$side-padding-default: 1.5rem;
$nav-padding: $side-padding-default;
$section-padding-default: 4rem;
$margin-bottom-default: 2rem;



$max-width-full: 1200px;
$max-width-medium: 800px;
$max-width-thin: 600px;